RESEND_API_KEY=re_Pce4S3D8_4GukuxFUPP8FXuKqFhufCwAv
RESEND_FROM=Prime Video <onboarding@resend.dev>
EMAIL_VERIFICATION_SECRET=change-me-to-a-long-random-secret
NUXT_PUBLIC_APP_URL=http://localhost:3000
